$color-primary: hsl(106, 34%, 51%);

$color-text-title: hsla(140, 65%, 43%, 0.466);
$color-button-primary: hsl(106, 34%, 51%);
$color-button-primary-hover: hsla(132, 3%, 43%, 0.712);
$color-text-pagination: hsl(106, 34%, 51%);
$color-text-link: rgba(39, 167, 82, 0.747);
