/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

/* fonts classes */
.font-monoton {
    font-family: "Monoton", cursive;
}

.font-dosis {
    font-family: "Dosis", sans-serif;
}

.font-lato {
    font-family: "Lato", sans-serif;
}

.font-josefin {
    font-family: "Josefin Slab", serif;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}
