html {
  font-size: 14px;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: var(--font-family);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

/*
.card {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

p {
  line-height: 1.75;
}
*/
