<div class="container">
    <div class="container-login">
        <div class="card-login p-3 mb-5 rounded">
            <div class="card">
                <img :src="avatar" alt="..." class="card-img-login" width="150" />
                <div class="card-body">
                    <h3 class="card-title">Loging</h3>
                    <form>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" id="username" name="username" class="form-control input" placeholder="Type email" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="password" name="password" class="form-control input" placeholder="Type password" />
                        </div>
                        <div class="form-group">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>

                        <hr>

                        <div class="d-flex">
                            <div class="p-2 flex-fill"><button type="submit" class=" form-control btn btn-link">Forgot your password ?</button></div>
                            <div class="p-2 flex-fill"><button type="submit" class=" form-control btn btn-outline-primary">Sign Up</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
